{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 38.007504870383904,
        "longitude": 112.44075107548272,
        "elevation": 800,
        "unit_system": "metric",
        "location_name": "\u6211\u7684\u5bb6",
        "time_zone": "Asia/Shanghai",
        "external_url": null,
        "internal_url": null,
        "currency": "CNY"
    }
}