{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 38.00752044530607,
        "longitude": 112.44095938908372,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "\u6211\u7684\u5bb6",
        "time_zone": "Asia/Shanghai",
        "external_url": null,
        "internal_url": null
    }
}