{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 38.00752044530607,
    "longitude": 112.44095938908372,
    "elevation": 800,
    "unit_system_v2": "metric",
    "location_name": "我的家",
    "time_zone": "Asia/Shanghai",
    "external_url": null,
    "internal_url": null,
    "currency": "CNY",
    "country": "CN",
    "language": "zh-Hans"
  }
}