{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 38.00798213994236,
        "longitude": 112.44003001745156,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "\u6211\u7684\u5bb6",
        "time_zone": "Asia/Shanghai",
        "external_url": "https://miaoyang.win:8123",
        "internal_url": "http://192.168.1.200:8123"
    }
}